
@font-face {
  font-family: 'BlissPro-Light';
  src: url('BlissPro-Light.eot?#iefix') format('embedded-opentype'),  url('BlissPro-Light.woff') format('woff'), url('BlissPro-Light.ttf')  format('truetype'), url('BlissPro-Light.svg#BlissPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
