<h1><a href="http://{{ site.domain }}{% url 'admin:questions_visit_change' visit.id %}">Online запись № {{ visit.id }}</a></h1>
<p></p>
<p><b>{{ visit.name }}</b> хочет записаться на приём.</p>
<p></p>
<p><b>Телефон:</b> {{ visit.phone }}</p>
<p><b>E-mail:</b> {{ visit.email }}</p>
<p><b>Вид поцедуры:</b> {{ visit.get_procedure }}</p>
<p><b>Направление:</b> {{ visit.purpose }}</p>
<p><b>Дата приёма:</b> {{ visit.visit_date|date:"SHORT_DATE_FORMAT" }}</p>
<p><b>Время приёма:</b> {{ visit.visit_time|date:"H:i" }}</p>
<p><b>Пожелаения:</b></p>
<p>{{ visit.description }}</p>
<p></p>
<p><b>Дата и время обращения:</b> {{ visit.created_at|date:"SHORT_DATETIME_FORMAT" }}</p>
<p>------------</p>
<p>С уважением,</p>
<p>Стоматологический центр "Рябина"</p>